xsd/test_fullname.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person-name">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="first-name"/>
                <xs:element name="last-name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>